.header {
    z-index: 1;
    background-color: rgb(104, 103, 103);
    position: fixed;
    width: 100%;
    height: 75px;
    text-align: center;
    display: flex;
    justify-content:center;
  }
  .AedesLumina {
    font-size: 30px;
    letter-spacing: 5px;
  }
  .ButtonEloria {
    width: 30%;
    height: 40px;
    background-color: rgb(255, 255, 255);
  }
  .ButtonAirole {
    width: 30%;
    height: 40px;
    background-color: rgb(255, 255, 255);
  }
  .ButtonIvalice {
    width: 30%;
    height: 40px;
    background-color: rgb(255, 255, 255);
  }
  .deco{
    width: 50%;
    height: 30px;
    background-color: rgb(255, 255, 255);
  }