.MenuContainer{
    z-index: 2;
    position: fixed;
    background-color: rgb(104, 103, 103);
    right: 0px;
    width: 100px;
    height: 100%;
    text-align: center;
  }
  .ButtonMain {
      width: 90px;
      height: 50px;
      background-color: rgb(255, 255, 255);
  }
  .ButtonChimère {
      width: 90px;
      height: 50px;
      background-color: rgb(255, 255, 255);
  }
  .ButtonAV {
    width: 90px;
    height: 50px;
    background-color: rgb(255, 255, 255);
  }
  
  .ButtonUnite {
    width: 90px;
    height: 50px;
    background-color: rgb(255, 255, 255);
  }
  .ButtonUniteFire {
    width: 65px;
    height: 60px;
    background-color: rgb(211, 0, 0);
  }
  .ButtonUniteIce {
    width: 65px;
    height: 60px;
    background-color: rgb(157, 240, 255);
  }
  .ButtonUniteWind {
    width: 65px;
    height: 60px;
    background-color: rgb(8, 168, 16);
  }
  .ButtonUniteEarth {
    width: 65px;
    height: 60px;
    background-color: rgb(230, 140, 6);
  }
  .ButtonUniteLightning {
    width: 65px;
    height: 60px;
    background-color: rgb(235, 219, 74);
  }
  .ButtonUniteWater {
    width: 65px;
    height: 60px;
    background-color: rgb(4, 94, 211);
  }
  .ButtonUniteLight {
    width: 65px;
    height: 60px;
    background-color: rgb(199, 194, 185);
  }
  .ButtonUniteDark {
    width: 65px;
    height: 60px;
    background-color: rgb(116, 28, 89);
  }

